@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	:root {
		@apply bg-primary-colour min-h-screen;
	}
	.navbar {
		@apply flex space-x-10 h-16 items-center p-12 mb-4 text-2xl text-white font-poppins;
	}

	.active {
		@apply underline underline-offset-8;
	}
	.btn-primary {
		@apply flex flex-row items-center justify-center bg-accent-colour rounded-2xl space-x-2 p-2;
	}
	.bg-fade {
		@apply backdrop-filter backdrop-blur-[2px] bg-gradient-to-b from-transparent to-black opacity-0 group-hover:visible group-hover:opacity-100 transition-opacity duration-500;
	}
	.filters-container {
		@apply flex flex-row mx-auto justify-between max-w-[80rem] text-white text-xl font-k2d;
	}
	.search-box {
		@apply bg-secondary-colour rounded-lg px-8 py-2 max-w-[30rem] grow;
	}
	.filter-button {
		@apply bg-transparent border-2 border-white rounded-md px-6 py-2 flex flex-row items-center;
	}
	.filter-button > :last-child {
		@apply ml-auto;
	}
	.media-card-poster {
		@apply rounded-2xl border-4 border-transparent;
	}
	.media-card-poster:hover {
		@apply hover:border-[#DA5075] shadow-lg shadow-accent-colour transition-all duration-500;
	}
	.media-card-text {
		@apply font-maven text-white truncate max-w-[16ch];
	}
	.pg-container {
		@apply flex flex-row justify-center items-center space-x-4;
	}
	.pg-button {
		@apply border-2 border-transparent p-2 min-w-[50px];
	}
	.pg-button-num {
		@apply pg-button font-rubik text-white text-center text-2xl;
	}
	.pg-button-num:hover {
		@apply border-accent-colour rounded-full transition-all duration-300;
	}
	.pg-button-active {
		@apply bg-accent-colour/10 rounded-full border-accent-colour border-2 shadow-xl;
	}
	.pg-button-nav {
		@apply text-white;
	}
	.pg-button-nav#first,
	.pg-button-nav#last {
		@apply bg-secondary-colour rounded-full p-3;
	}
	.pg-button-nav:hover {
		@apply text-accent-colour transition-all duration-300;
	}
	.mediaInfo-row {
		@apply flex flex-row space-x-2;
	}
	.mediaInfo-rowTitle {
		@apply text-lg font-maven font-bold;
	}
	.mediaInfo-rowText {
		@apply font-k2d;
	}
}

.swiper {
	width: 500px; /* keeps the card swipes within the carousel */
	height: 100%;
}
.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	color: #fff;
}

.swiper-pagination-bullet {
	@apply bg-accent-colour;
	width: 10px;
	height: 10px;
}

#slider::-webkit-scrollbar {
	height: 8px;
}

#slider::-webkit-scrollbar-thumb {
	background-color: #73a4a6;
	border-radius: 10px;
}

#slider::-webkit-scrollbar-track {
	background-color: transparent;
}

/* body {
	margin: 0;
	align-items: center;
	justify-content: center;
	height: 100hv;
	background: linear-gradient(to bottom, #242934, #3b4e5c);
} */
/* :root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */

/* a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */
